
.ImagenResumenCompra  {
    width: 10rem;
}

.ImagenResumenCompra img {
    width: inherit;
}

.DescripcionResumenCompra {
    font-family: 'Montserrat',sans-serif;
    font-size: 1.1rem;
}

.DescripcionResumenCompra h3 {
    text-transform: capitalize;
}

.DescripcionResumenCompra span:last-of-type {
    display: block;
}

article table {
    width: 100%;
    padding: 1rem;
    border-spacing: inherit;
}

th {
    border-bottom: 2px solid;
    border-spacing: inherit;
}

div h2, p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

div p {
    font-family: 'Quicksand', sans-serif;
}